.card.text-white.bg-primary.mb-3 {
    height: 250px;
    width: 300px;
}

.card-text {
    font-size: 14px;
}
#education{
    font-family: 'Nunito', sans-serif; 
}

p{
    font-family: 'Crimson Text', serif;
}