span.badge.badge-pill.badge-success {
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 10px;
}
span.badge.badge-pill.badge-success:hover{
    font-size: 15px;
}
.card.bg-primary.mb-3 {
    height: 250px;
    width: 300px;
}
h3.card-text.skills {
    font-size: 20px;
    color: #e83e8c;
}

i.fa.fa-cogs:hover{
    color: #18BC9C;
}
