.project-heading {
    text-align: center;
}

.card-image-top {
    height: 50%;
    width: 100%;
}

.card.border-primary.mb-3 {
    height: 98%;
    width: 98%;
    margin: 1%;
}

.card-text {
    font-size: 14px;
}

.card {
    width: 250px;
}

.anchor-link {
    color: white;
}

button.btn.btn-outline-success {
    margin-top: 5px;
    margin-bottom: 5px;
}

.alert.alert-dismissible.alert-success {
    margin-top: 6px;
}

h4 {
    font-family: 'Nunito', sans-serif;
}

p {
    font-family: 'Crimson Text', serif;
    font-size: 15px;
}

a.btn.btn-outline-success {
    margin-top: 10px;
}