.project-heading {
    text-align: center;
}

.project-card-header{
    height: 45%;
    width: 100%;
}

.project-card-body {
    height: 37%;
    width: 100%;
}
.project-card-footer{
    height: 18%;
    width: 100%;
}
.card-text {
    font-size: 14px;
}

.project-card {
    width: 250px;
    height: 330px;
    border-radius: 4%;
}

.anchor-link {
    color: white;
}

h4 {
    font-family: 'Nunito', sans-serif;
}

p {
    font-family: 'Crimson Text', serif;
    font-size: 15px;
}