.jumbotron {
    background: #2C3E50;
    color: white;
    font-family: 'Playfair Display', serif;
}

i.fa.fa-envelope.fa-3x,
i.fa.fa-linkedin.fa-3x {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

i.fa.fa-linkedin.fa-3x {
    color: #0077B5;
}

h1.text-center {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #18BC9C, 0 0 5px #20c997;
}

